/*
  GENERIC
*/

/*
  Reset browser defaults
*/
* {
  padding: 0;
  margin: 0;
}

/*
    Set box-sizing default
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/*
    Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
