body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background: #f3f3f3;
}

#root {
  display: flex;
  flex-direction: column;
}
