<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <div class="container">
        <form id="form" method="post" accept-charset="utf-8" action="checkout" class="demo-form demo-displayable-container" novalidate="novalidate">
          <div id="checkout_first_frame" class="demo-displayable-container container-960 clear checkout-first-frame">
            <div id="basic_info_container" class="demo-frame demo-displayable-container grid_7 checkout-frame">
              <h2 class="demo-frame-title">Account Details</h2>
              <div class="demo-frame-contents">
                <div id="first_name_field" class="demo-form-field demo-required demo-displayable-container">
                  <label for="first_name">First Name: <span class="demo-required"> (required)</span></label>
                  <div class="demo-form-field-contents">
                    <input type="text" name="first_name" id="first_name" class="demo-entry" value="Michael" size="17" maxlength="255" />
                  </div>
                </div>
                <div id="last_name_field" class="demo-form-field demo-required demo-displayable-container">
                  <label for="last_name">Last Name: <span class="demo-required"> (required)</span></label>
                  <div class="demo-form-field-contents">
                    <input type="text" name="last_name" id="last_name" class="demo-entry" value="Gauthier" size="17" maxlength="255" />
                  </div>
                </div>
                <div id="suffix_field" class="demo-form-field demo-displayable-container">
                  <label for="ned834121551b07532889e0da61f59bec">Suffix: </label>
                  <div class="demo-form-field-contents">
                    <input type="text" name="ned834121551b07532889e0da61f59bec" id="ned834121551b07532889e0da61f59bec" class="demo-entry" value="" size="5" maxlength="255" />
                    <input type="hidden" name="suffix_nonce" value="ned834121551b07532889e0da61f59bec" />
                  </div>
                </div>
                <div id="email_field" class="demo-form-field demo-required demo-displayable-container">
                  <label for="email">Email: <span class="demo-required"> (required)</span></label>
                  <div class="demo-form-field-contents">
                    <input type="email" name="email" id="email" class="demo-email-entry demo-entry" value="mike+pcrapfree@silverorange.com" size="50" maxlength="255" />
                  </div>
                </div>
                <div id="confirm_email_field" class="demo-form-field demo-required demo-displayable-container">
                  <label for="confirm_email">Re-type Email: <span class="demo-required"> (required)</span></label>
                  <div class="demo-form-field-contents">
                    <input type="email" name="confirm_email" id="confirm_email" class="demo-confirm-email-entry demo-email-entry demo-entry" value="mike+pcrapfree@silverorange.com" size="50" maxlength="255" />
                  </div>
                  <div class="demo-note">Your email address is used to sign into your account. We value your privacy and will not sell or share your email address.</div>
                </div>
              </div>
            </div>
            <div id="billing_address_container" class="demo-frame demo-displayable-container grid_7 checkout-frame">
              <h2 class="demo-frame-title">Billing Address</h2>
              <div class="demo-frame-contents">
                <div id="billing_address_form" class="demo-displayable-container">
                  <div id="billing_address_name_container" class="demo-displayable-container name-fields-container">
                    <div id="billing_address_first_name_field" class="demo-form-field demo-required demo-displayable-container first-name-field">
                      <label for="billing_address_first_name">First Name: <span class="demo-required"> (required)</span></label>
                      <div class="demo-form-field-contents">
                        <input type="text" name="billing_address_first_name" id="billing_address_first_name" class="demo-entry" value="Michael" size="17" maxlength="255" />
                      </div>
                    </div>
                    <div id="billing_address_last_name_field" class="demo-form-field demo-required demo-displayable-container last-name-field">
                      <label for="billing_address_last_name">Last Name: <span class="demo-required"> (required)</span></label>
                      <div class="demo-form-field-contents">
                        <input type="text" name="billing_address_last_name" id="billing_address_last_name" class="demo-entry" value="Gauthier" size="17" maxlength="255" />
                      </div>
                    </div>
                  </div>
                  <div id="billing_address_line1_field" class="demo-form-field demo-required demo-displayable-container">
                    <label for="billing_address_line1">Street Address: <span class="demo-required"> (required)</span></label>
                    <div class="demo-form-field-contents">
                      <div class="demo-textarea-container">
                        <textarea name="billing_address_line1" id="billing_address_line1" class="demo-textarea" rows="2" cols="35"></textarea>
                      </div>
                    </div>
                  </div>
                  <div id="billing_address_city_field" class="demo-form-field demo-required demo-displayable-container">
                    <label for="billing_address_city">City: <span class="demo-required"> (required)</span></label>
                    <div class="demo-form-field-contents">
                      <input type="text" name="billing_address_city" id="billing_address_city" class="demo-entry" value="" size="35" maxlength="255" />
                    </div>
                  </div>

                  <div id="billing_address_postalcode_field" class="demo-form-field demo-required demo-displayable-container">
                    <label for="billing_address_postalcode">ZIP/Postal Code: <span class="demo-required"> (required)</span></label>
                    <div class="demo-form-field-contents">
                      <input type="text" name="billing_address_postalcode" id="billing_address_postalcode" class="demo-entry store-postal-code-entry" value="" size="10" maxlength="50" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="payment_method_container" class="demo-frame demo-displayable-container grid_7 checkout-frame">
              <h2 class="demo-frame-title">Payment Method</h2>
              <div class="demo-frame-contents">
                <div id="payment_method_form" class="demo-displayable-container store-payment-method-single">
                  <div id="payment_option_field" class="demo-form-field demo-required demo-displayable-container">
                    <div class="demo-form-field-contents">
                      <div id="payment_note">
                        <strong>Our servers are secure.</strong> Your data is protected with industry standard encryption. See our <a href="privacy">security &amp; privacy policy</a>.
                      </div>
                      <div id="payment_option" class="demo-radio-note-book">
                        <div class="demo-radio-note-book-page">
                          <div id="type_1" class="demo-note-book-page">
                            <div id="card_fields_container" class="demo-displayable-container">
                              <div id="card_number_field" class="demo-form-field demo-required demo-displayable-container card-number-field">
                                <label for="card_number">Card Number: <span class="demo-required"> (required)</span></label>
                                <div class="card-number-content">
                                  <div class="demo-form-field-contents">
                                    <input type="text" name="card_number" id="card_number" class="demo-entry" value="" size="17" maxlength="50" autocomplete="off" />
                                  </div>
                                  <div class="demo-note">
                                    <img alt="We accept American Express, Discover, MasterCard, and Visa." height="28" width="191" src="images/elements/card-logos.png" class="card-logos" />
                                  </div>
                                </div>
                              </div>
                              <div id="card_expiry_field" class="demo-form-field demo-required demo-displayable-container">
                                <label>Expiration Date: <span class="demo-required"> (required)</span></label>
                                <div class="demo-form-field-contents">
                                  <div id="card_expiry" class="demo-date-entry">
                                    <span class="demo-date-entry-span">
                                      <span class="demo-date-entry-month demo-flydown-wrapper">
                                        <select name="card_expiry_month" id="card_expiry_month" class="demo-flydown demo-date-entry-month">
                                          <option value="ddSjjxoNKPJEd4BR95omkQ|N;" class="demo-blank-option" selected="selected">Month</option>
                                          <option value="SNF3tWjeOPWWmIjvIctY*g|i:1;">01 - January</option>
                                          <option value="c3l1U6MSJfASnk0SuirxAw|i:2;">02 - February</option>
                                          <option value="kR7xjxM3fW3I*cXUhUhdig|i:3;">03 - March</option>
                                          <option value="Urn8ciYtYmWiinaVqhZvcg|i:4;">04 - April</option>
                                          <option value="bjkZV331a9GyTxMGEIOlBg|i:5;">05 - May</option>
                                          <option value="GVDRGNkVQK*2Eid4*DqTaw|i:6;">06 - June</option>
                                          <option value="V4Tb5uJGAWKO2IP3eKWiCA|i:7;">07 - July</option>
                                          <option value="PntabY0JUCHBxqX5NpBSfA|i:8;">08 - August</option>
                                          <option value="LBYP0EShiNnv5w078r-kQQ|i:9;">09 - September</option>
                                          <option value="t0oYTeFK6sbI9zJYi2D7dA|i:10;">10 - October</option>
                                          <option value="hYJfMuLs0uajQr*jW7nIWg|i:11;">11 - November</option>
                                          <option value="6UtcIOv1rWD2o3nW5BOfjQ|i:12;">12 - December</option>
                                        </select>
                                      </span>
                                      <span class="demo-date-entry-year demo-flydown-wrapper">
                                        <select name="card_expiry_year" id="card_expiry_year" class="demo-flydown demo-date-entry-year">
                                          <option value="ddSjjxoNKPJEd4BR95omkQ|N;" class="demo-blank-option" selected="selected">Year</option>
                                          <option value="xLYo9sZ1DY3MzQw0JupHTQ|i:2019;">2019</option>
                                          <option value="svOY6FyRAbqEvooKRW3W7A|i:2020;">2020</option>
                                          <option value="iIud608oPgt9WC*DNRtyhg|i:2021;">2021</option>
                                          <option value="GAnUulhPMtKierz7RYxrBw|i:2022;">2022</option>
                                          <option value="cTcuAZVhbd1tA*9vdV2IMQ|i:2023;">2023</option>
                                          <option value="ECUPsXOyvuLMzk2PVQttGA|i:2024;">2024</option>
                                          <option value="880Wgdb5NJkhhz7tiznYHQ|i:2025;">2025</option>
                                          <option value="Rr6UtaZFeO4wT66MzUI*Fg|i:2026;">2026</option>
                                          <option value="kfgdBEIeIjO4lfQmtPYBVg|i:2027;">2027</option>
                                          <option value="kBVZw*G9F2KKoJTQ325dAg|i:2028;">2028</option>
                                          <option value="Sr41g8XSG0xb560riccL*g|i:2029;">2029</option>
                                          <option value="urBF2i6ss2ij8XSWjX8g8Q|i:2030;">2030</option>
                                          <option value="2DNc6GnVwKR6Nzxh9OzvLQ|i:2031;">2031</option>
                                          <option value="wFovRLVE7mLky-GANpMSSQ|i:2032;">2032</option>
                                          <option value="HvmnetEifrN-kl11mmiPdg|i:2033;">2033</option>
                                          <option value="BU*Y6nx*1nakajSrx0SPTA|i:2034;">2034</option>
                                          <option value="Esdrus1ogLf6r7ag7ozdvQ|i:2035;">2035</option>
                                          <option value="biORXDMAmapMF89VuuC7nQ|i:2036;">2036</option>
                                          <option value="WZRn-ayBsMH83hEJTUsDCQ|i:2037;">2037</option>
                                          <option value="KRxvl2KI26rp8FXmg0d13g|i:2038;">2038</option>
                                          <option value="r9-UV5KKMIRVjpdHqAJEFQ|i:2039;">2039</option>
                                        </select>
                                      </span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div id="card_verification_value_field" class="demo-form-field demo-required demo-displayable-container card-verification-value-field">
                                <div class="card-verification-value-label">
                                  <label for="card_verification_value">Card Security Code: <span class="demo-required"> (required)</span></label>
                                </div>
                                <div class="demo-form-field-contents">
                                  <input type="text" name="card_verification_value" id="card_verification_value" class="demo-entry" value="" size="4" maxlength="4" autocomplete="off" />
                                </div>
                                <div class="demo-note">For Visa, MasterCard and Discover, the three digits printed on the reverse of your card. For AmEx, the four digits printed above your card number on the front of your card.</div>
                              </div>
                              <div id="card_fullname_field" class="demo-form-field demo-required demo-displayable-container">
                                <label for="card_fullname">Name on Card: <span class="demo-required"> (required)</span></label>
                                <div class="demo-form-field-contents">
                                  <input type="text" name="card_fullname" id="card_fullname" class="demo-entry" value="Michael Gauthier" size="35" maxlength="255" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <input type="hidden" name="payment_option" id="payment_option_type_1" value="payment_option_type_1" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="comments_container" class="demo-frame demo-displayable-container grid_7 checkout-frame">
              <h2 class="demo-frame-title">Your Comments and Feedback</h2>
              <div class="demo-frame-contents">
                <div id="comments_field" class="demo-form-field demo-displayable-container">
                  <div class="demo-form-field-contents">
                    <div class="demo-textarea-container">
                      <textarea name="comments" id="comments" class="demo-textarea" rows="4" cols="20"></textarea>
                    </div>
                  </div>
                  <div class="demo-note">We love to hear from you! Use this space to add extra information about your order, make comments about our site or leave feedback.</div>
                </div>
              </div>
            </div>
            <div class="demo-displayable-container grid_12">
              <div id="checkout_footer" class="demo-footer-form-field demo-form-field demo-displayable-container">
                <div class="demo-form-field-contents">
                  <input type="submit" name="submit" id="submit" value="Next Step" class="demo-button demo-primary demo-button-submit" />
                  <div id="footer_note" class="demo-displayable-container">
                    You will have a chance to confirm your order on the next step.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="demo-hidden">
            <input type="hidden" name="_swat_form_character_encoding" value="&auml;&trade;&reg;" />
            <input type="hidden" name="_swat_form_process" value="form" />
            <input type="hidden" name="_swat_form_serialized__swat_form_process" value="nkWNo3sLzzMLtE7uTPydIA|s:4:&quot;form&quot;;" />
            <input type="hidden" name="payment_option_submitted" value="1" />
            <input type="hidden" name="_swat_form_serialized_payment_option_submitted" value="SNF3tWjeOPWWmIjvIctY*g|i:1;" />
            <input type="hidden" name="_swat_form_hidden_fields" value="8j4MzYvIHStk6-ieLqG6Gw|a:2:{i:0;s:18:&quot;_swat_form_process&quot;;i:1;s:24:&quot;payment_option_submitted&quot;;}" />
            <input type="hidden" name="_swat_form_authentication_token" value="KBtGahnUMiWvQotBE2WWYQ|s:22:&quot;RBEVUMI1ikxEZIj2Oz7qTA&quot;;" />
          </div>
        </form>
      </div>
    </main>
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
